torch>=2.2.0
torchvision>=0.17.0
transformers>=4.42.0
accelerate>=0.31.0
bitsandbytes>=0.43.0
peft>=0.11.1
trl>=0.9.6
optimum>=1.20.0
sentencepiece>=0.1.99
safetensors>=0.4.3
huggingface_hub>=0.23.0
datasets>=2.20.0
gradio>=4.41.0
moviepy>=1.0.3
opencv-python>=4.9.0.80
numpy>=1.26.4
soundfile>=0.12.1
librosa>=0.10.2.post1
matplotlib>=3.8.4
tqdm>=4.66.4
PyYAML>=6.0.1
Pillow>=10.3.0
openai-whisper>=20231117
